[submodule "plugins/PB_S_AM/src"]
	path = plugins/PB_S_AM/src
	url = https://github.com/davas301/pb_solvers
[submodule "plugins/Geoflow_c"]
	path = plugins/Geoflow_c
	url = https://github.com/Electrostatics/geoflow_c.git
